
AirpodsPro Battery/AirpodsPro Battery.xcworkspace/xcuserdata/mohamedarradi.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
AirpodsPro Battery/AirpodsPro Battery.xcworkspace/xcuserdata/mohamed.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
AirpodsPro Battery/AirpodsPro Battery.xcodeproj/xcuserdata/mohamed.xcuserdatad/xcschemes/xcschememanagement.plist
AirpodsPro Battery/Pods/Pods.xcodeproj/xcuserdata/mohamed.xcuserdatad/xcschemes/xcschememanagement.plist
AirpodsPro Battery/.DS_Store
.DS_Store
AirpodsPro Battery/.DS_Store
